/* Reset default browser styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

header {
  background-color: #003366;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.book-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.book-card h2 {
  color: #003366;
  margin-bottom: 10px;
}

.book-card p {
  color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #003366;
  color: #ffffff;
}

/* Add more styles as needed */
/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Style for the search input */
#searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  margin-right: 10px;
}

/* Style for the search button */
#searchButton {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for the search button */
#searchButton:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 600px) {
  /* Adjust the search input width for smaller screens */
  #searchInput {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Styles for the login page */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#loginSection {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #003366;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #002855;
}

/* Add more styles as needed */
